---
---

body {
  font-family: Arial, sans-serif;
  background-image: url("/image/arrier-plan.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  
  .site-footer {
    background-color: #333333; 
    color: #FFFFFF; 
    padding: 20px 0;
    text-align: center;
  }
  
  .site-header {
    background-color: bisque; 
    color: #FFFFFF; 
    padding: 20px 0;
    text-align: center;
  }
  #vendeuse-polyvalente{
    height: auto;
    border-radius: 10px;
    background-color: #bbdefb;
    box-shadow: 2px 4px 0 #fff3e0;
    text-align: center;
  }
//   ul li {
// padding: 20px;
//   margin: 20px 0;
//   border-radius: 8px;
//   box-shadow: 0 2px 4px #0056b3;
//   }

#diplome{
    height: auto;
    border-radius: 10px;
    background-color: #bbdefb;
    box-shadow: 2px 4px 0 #fff3e0;
    text-align: center;
  }
#objectifs{
    height: auto;
    border-radius: 10px;
    background-color: #bbdefb;
    box-shadow: 2px 4px 0 #fff3e0;
    text-align: center;
  }
  #qui-suis-je{
 height: auto;
    border-radius: 10px;
    background-color: #bbdefb;
    box-shadow: 2px 4px 0 #fff3e0;
    text-align: center;

  }
  #technologies-utilisées{
     height: auto;
    border-radius: 10px;
    background-color: #bbdefb;
    box-shadow: 2px 4px 0 #fff3e0;
    text-align: center;
  }
  #compétences-développées{
      height: auto;
    border-radius: 10px;
    background-color: #bbdefb;
    box-shadow: 2px 4px 0 #fff3e0;
    text-align: center;
  }
 }
 form{
    height: auto;
    border-radius: 10px;
    background-color:#333333;
    box-shadow: 2px 4px 0 #fff3e0;
    text-align: center;
 }